{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	ncRNA of Mariana hadal organism
{% endblock %}
{% block header_extends %}
	<link rel = "stylesheet" href = "{% static 'homee.css' %}">
{% endblock %}
{% block nav_home_active %}
	active
{% endblock %}
{% block content %}
	<div class="inner cover">
           
            <p class="lead">The deepest areas of the ocean (that is, those between 6,000 and 11,000 m) are commonly referred to as the hadal zone, and represent ~1–2% of the global benthic area.They are among the most hostile environments on Earth, due to their high hydrostatic pressure, darkness, limited food resources, low temperatures and hypoxia.Nevertheless, life thrives in these poorly explored realms.Humans have explored less than 3% of the ocean floor, and dozens of new species of deep sea creatures are discovered with every dive. and some deepssea creatures have been sequenced.here shows information of deep sea creatures and their ncRNAs.</p>
       
    </div>
        
      
    
     
{% endblock %}